<body class="board">
  
  <header class="navbar">
  <div class="container1">
  
   <a type="button" class="fa fa-plus fa-3x" data-toggle="modal" data-target="#myModal"></a>
    
   <% if current_user == User.find(1) %>
     <%= link_to "<i class='fa fa-file-excel-o fa-3x'></i>".html_safe, boards_path(format: "xls") %> 
   <%end%>
    <%= link_to  "<i class='fa fa-user-times fa-3x  logosalir'> </i> ".html_safe, destroy_user_session_path, :method => :delete %>
   <% if current_user == User.find(1) %>
      <%= link_to 'Campaigns', campaigns_path %>
      <%= link_to 'Activities', activities_path %>
      <%= link_to 'Brands', brands_path %>
      <%= link_to 'Countries', countries_path %>
   <% end %>
  </div>
</header>

  <!-- Button trigger modal -->
<br></br> <br>


<div class="container">
  <div class="row">
    <%= form_tag boards_path, :method => 'get' do %>
      <div class="col-xs-12 col-md-4"></div>
      
     <div class="col-xs-12  col-md-4 ">
       
       <div class="col-xs-6 col-md-6">
        <%= text_field_tag :search, params[:search], class:'form-control'%>
       </div>
       
       <div class="col-xs-6 col-md-6">
         <%= submit_tag "Search By Day", class:'btn btn-default' %>
       </div>
       
        
     </div>
     
     
    <% end %>
    
    <div class="col-xs-12 col-md-4">
      
      <% if current_user == User.find(1)%>
      
        <h4 class="derecho"><span class="badge"> <%= @boards.count %> </span></h4 >
      
      <% end %>

    </div>
  </div>
</div>

<br>
<div  id="container_boards">
  
  <%= render @boards %>
</div>


<!-- Modal -->
<%= form_for(@board, remote: true) do |f| %>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Boards</h4>
    </div>
    <div class="modal-body">
   
      <div class="field">
     Init time<br>
    <%= f.datetime_select :date_time, class:'board_datetime form-control' %>
  </div>
  
  
  <div class="field">
       Campaign <br>                    
      <%= f.collection_select :campaign_id, Campaign.all, :id, :campaign_name, {prompt: "Select Campaign"},{class: "form-control board_campaign"} %>
  </div>

   <div class="field">
       Brand <br>                    
      <%= f.collection_select :brand_id, Brand.all, :id, :brand_name, {prompt: "Select Brand"},{class: "form-control board_brand"} %>
  </div>
  
  <div class="field">
       Country <br>                    
      <%= f.collection_select :country_id, Country.all, :id, :country_name, {prompt: "Select Country"},{class: "form-control board_country"} %>
  </div>
 
 <div class="field">
       Activity <br>                    
      <%= f.collection_select :activity_id, Activity.all, :id, :activity_name, {prompt: "Select Activity"},{class: "form-control board_activity"} %>
  </div>
 
  <div class="field">
    End time<br>
    <%= f.datetime_select :end_time, class:'board_endtime form-control' %>
  </div>
  <div class="field">
 <br>
    <%= f.text_field :sum_time, class:'board_sumtime', class:'invisible'%>
  </div>
   
   
   
   
   
      </div>
    <div class="modal-footer">
      <%= f.submit "Save", class:'btn btn-default btn-lg btn-block' %>
    </div>
  </div>
</div>
</div>
<% end %>


</body>